# Условие 1:
Оформляйте ноутбук, используя эти советы:
- Номер задачи - заголовок 2
- Номер подзадачи - заголовок 3
- Предоставленные наборы данных оформляйте, как код

# Условие 2:
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [24]:
def fruit_basket(**kwargs):
    {print(f"Фрукт {name} в количестве {values} шт")
        for name, values in kwargs.items()}
    return print(f'Общее количество фрутов: {sum(kwargs.values())}')

In [23]:
fruit_basket(
    манго = 10,
    киви = 23,
    ананас = 7
)

Фрукт манго в количестве 10 шт
Фрукт киви в количестве 23 шт
Фрукт ананас в количестве 7 шт
Общее количество фрутов: 40

# Условие 3:
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты

[100, 125, -90, 345, 655, -1, 0, 200]

Используйте list comprehensions

In [28]:
list_cost = [100, 125, -90, 345, 655, -1, 0, 200]
position_cost = [i for i in list_cost if i > 0]
print(f'Затраты на рекламу с положительными величинами {position_cost}')
f"Суммарные затраты составляют: {sum(position_cost)}"

Затраты на рекламу с положительными величинами [100, 125, 345, 655, 200]

'Суммарные затраты составляют: 1425'

# Условие 4:
Даны два списка.

Дата покупки

['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

Суммы покупок по датам

[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [36]:
list_date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
list_revenue = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [37]:
def my_fin(lst1: list, lst2: list) -> dict:
  mydict = dict()
  for i in range(len(lst1)):
    mydict[lst1[i]] = [lst2[i]]
  return mydict

my_fin(list_date, list_revenue)

{'2021-09-14': [1270],
 '2021-12-15': [8413],
 '2021-09-08': [9028],
 '2021-12-05': [3703],
 '2021-10-09': [2732],
 '2021-09-30': [2008],
 '2021-12-22': [295],
 '2021-11-29': [4944],
 '2021-12-24': [5723],
 '2021-11-26': [3701],
 '2021-10-27': [4471],
 '2021-12-18': [651],
 '2021-11-09': [316],
 '2021-11-23': [4274],
 '2021-09-27': [6275],
 '2021-10-02': [4988],
 '2021-12-27': [6930],
 '2021-09-20': [2971],
 '2021-12-13': [6333],
 '2021-11-01': [2004],
 '2021-12-06': [519],
 '2021-12-08': [3406],
 '2021-10-31': [5015],
 '2021-10-26': [5700],
 '2021-12-09': [2887]}

## 4.1 Найдите, какая выручка у компании в ноябре¶

Используйте list comprehensions

In [38]:
list_Month = [i.split('-')[1] for i in list_date]
print(list_Month)

['09', '12', '09', '12', '10', '09', '12', '11', '12', '11', '10', '12', '11', '11', '09', '10', '12', '09', '12', '11', '11', '12', '12', '10', '10', '09', '11', '12', '10', '12']

In [39]:
tuple_November_Revenue = [(f'Месяц {list_Month[i]}', f'выручка {list_revenue[j]}')
                          for i in range(len(list_Month))
                          for j in range(len(list_revenue))
                          if i == j and list_Month[i] == '11']

In [40]:
tuple_November_Revenue

[('Месяц 11', 'выручка 4944'),
 ('Месяц 11', 'выручка 3701'),
 ('Месяц 11', 'выручка 7037'),
 ('Месяц 11', 'выручка 4274'),
 ('Месяц 11', 'выручка 2004'),
 ('Месяц 11', 'выручка 2822'),
 ('Месяц 11', 'выручка 316')]

In [43]:
print(tuple_November_Revenue[0][0], f'выручка составила: {sum([revenue for date, revenue in zip(list_date, list_revenue) if date[5:7] == "11"])}')

Месяц 11 выручка составила: 25098

## 4.2 Найдите выручку компании в зависимости от месяца

Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.

Используйте аннотирование типов.

In [49]:
def revenue_by_month(list_date: list, list_revenue: list) -> dict:
   
    dict_Month = {}
    for i in range(len(list_date)):
        if list_date[i].split('-')[1] in dict_Month.keys():
            dict_Month[list_date[i].split('-')[1]] += list_revenue[i]
        else:
            dict_Month[list_date[i].split('-')[1]] = list_revenue[i]
    return dict_Month

In [48]:
revenue_by_month(list_date, list_revenue)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}